@charset "UTF-8";

*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

body{ 
	position: absolute;
	background-color: rgb(34, 34, 34);
}

main {
	position: relative;
	transform: translate(45%, 60%);
	height: 33vh;
	width: 50vw;
	padding: 40px;
	border-radius: 20px;
	background-color: rgb(183, 182, 182);	
}